@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.abhere-menuitem {
  list-style-image: url("chrome://abh2me/skin/abhere16x16.png");
}

#editBMPanel_folderTree {
  min-height: 40px;
}
#editBMPanel_tagsSelector {
  min-height: 20px;
}
#editBMPanel_descriptionField {
  min-height: 20px;
}

listrows {
  -moz-binding: url("chrome://abh2me/content/listbox.xml#listrows");
}

tree[disabled] {
  -moz-user-input: disabled;
  -moz-user-focus: ignore;
  color: GrayText;
}

radio[pane="pane-main"] {
  list-style-image: url("chrome://abh2me/skin/abhere32x32.png");
}
radio[pane="pane-menu"] {
  list-style-image: url("chrome://abh2me/skin/menu.png");
}
radio[pane="pane-panel"] {
  list-style-image: url("chrome://abh2me/skin/panel.png");
}
radio[pane="pane-advanced"] {
  list-style-image: url("chrome://abh2me/skin/advanced.png");
}
